
    <div class="container">
        <div class="available-room">
        <div class="row">
            
            <div class="col-md-4">
                <div id="serv_hover" class="room">
                    <div class="room_img">
                        <figure><img src="assets/images/room1.jpg" alt="#" /></figure>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="available-room_main">
                    <div class="available-room_head">
                        <h3>Title</h3>
                        <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there</p>
                    </div>
                    <div class="available-room_desc">
                        <p>Breakfast</p>
                    </div>
                </div>


            </div>
            <div class="col-md-2">
                <div class="available-room_price">
                    <p>price</p>
                    <button type="submit" class="book_btn">Book Now</button>
                </div>
                
                
            </div>
        </div>
    </div>
</div>